<div class="sidebar">
<h2>LeadPilotGen6</h2>

<a href="/dashboard" class="{% if active_page == 'dashboard' %}active{% endif %}">
    <i class="fas fa-chart-line"></i> Dashboard
</a>

<a href="/savedprojects" class="{% if active_page == 'product' %}active{% endif %}">
    <i class="fas fa-folder"></i> Product
</a>

<a href="/chat" class="{% if active_page == 'chat' %}active{% endif %}">
    <i class="fas fa-robot"></i> AI Chat
</a>

<a href="/overview" class="{% if active_page == 'overview' %}active{% endif %}">
    <i class="fas fa-brain"></i> Overview
</a>

<a href="/call_for_action" class="{% if active_page == 'cta' %}active{% endif %}">
    <i class="fas fa-bullhorn"></i> Call For Action
</a>

<a href="/industry_viewed" class="{% if active_page == 'industry' %}active{% endif %}">
    <i class="fas fa-brain"></i> Industry Viewed
</a>

<a href="/export_excel" class="{% if active_page == 'export' %}active{% endif %}">
    <i class="fas fa-file-excel"></i> Export Leads
</a>

<a href="/logout">
    <i class="fas fa-sign-out-alt"></i> Logout
</a>

</div>